<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" 
  integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css' rel='stylesheet' />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CrimemapTJ</a>
  </nav>

  <div class="col12 pad4 contain fill-navy dark clip">
      <div id="map" class="center quiet"></div>
      <div class='pin-right pad2'>
          <a href='#step-4' class='button'>Trigger</a>
        </div>
    
    <div id="step-4" class="col4 pad2 fill-darken1 pin-left animate">
        <a href='#' class='fill-darken2 pad1 icon close'></a>
      <label for="points">Show points</label>
      <input type="checkbox" name="points" id="points" checked>
      <label for="heat">Show heatmap</label>
      <input type="checkbox" name="heat" id="heat" checked>
      
    </div>
    
  </div>
  
  <!-- Manual map tweaking
    <span id="zoom"></span>
    <form>
      
      
      <label>blur size: </label><span id="blur-value">5</span>
      <input id="blur" type="range" min="0" max="50" step=".1" value="5"/>
      <label>weight size: </label><span id="weight-value">5</span>
      <input id="weight" type="range" min="0" max="10" step=".1" value="5"/>
      <label>intensity size: </label><span id="intensity-value">5</span>
      <input id="intensity" type="range" min="0" max="10" step=".1" value="5"/>
      <label>radius size: </label><span id="radius-value">20</span>
      <input id="radius" type="range" min=".1" max="100" step="1" value="20"/>
      <label>opacity size: </label><span id="opacity-value">1</span>
      <input id="opacity" type="range" min="0" max="1" step=".01" value="1"/>
    </form>
  -->
  
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js'></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<script src="/javascripts/mapbox.js"></script>
</body>
</html>
